@font-face {
    font-family: Px Grotesk;
    src: url(/fonts/px-grotesk.ttf) format('truetype'),
    url(/fonts/px-grotesk.woff) format('woff');

}

body {
    background-color: #000;
    color: #fafafa;
    font-family: Px Grotesk;
    font-size: 12px;

    /* no text highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.orb {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

#bio {
    width: 355px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    background-color: #000;
    color: #fafafa;
    border: none;
    position: initial;
    text-align: left;
    outline: none; 
    cursor: pointer;
} 

#bk-arw {
    position: fixed;
    left: 0;
    top: 0;
}

#bk-arw2 {
    position: fixed;
    left: -50px;
}

#btm-rt {
    font-size: 40px;
    position: fixed;
    left: 20px;
    bottom: 20px;
    transform: translateY(-20px);
}

ul {
    list-style: none;
    padding: 0px;
    text-align: left;
}

li {
    padding-top: 5px;
}

.superscript {
    position: relative;
    top: -1.5em;
    font-size: 80%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: inline-block;
}

#email {
    background-color: #FFAD62;
    color: #261D2D;
}

#instagram {
    background-color: #FEAFAF;
    color: #261D2D;
}

#spotify {
    background-color: #b6e28a;
    color: #261D2D;
}

a {
    color: #fafafa;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.hoverState {
    animation: myfirst 3s;
}

@keyframes myfirst
{
    3%    {
        color: #000;
        text-decoration-color: #000;
        background-color: #000;
        }

    50%    {
            color: #000;
            text-decoration-color: #000;
            background-color: #000;
            }

    100%    {
            color: #000;
            text-decoration-color: #000;
            background-color: #000;
        }
}

.displayState {
    display: none;
}

.noUndies {
    text-decoration: none;
}


@media only screen and (max-width: 700px) {
    #bio {
        width: 275px;
    }

    #btm-rt {
        font-size: 40px;
        position: fixed;
        left: 20px;
        bottom: 10px;
        transform: translateY(-10px);
    }

  }