@font-face {
    font-family: Px Grotesk;
    src: url(./fonts/px-grotesk.ttf) format('truetype');
}

body {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fafafa;
    color: #000;
    font-family: Px Grotesk;
    font-size: 16px;

    /* no text highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

#bio {
    max-width: 45vw;
    line-height: 27.5px;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    padding-top: 5px;
}

.superscript {
    position: relative;
    top: -1.5em;
    font-size: 80%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: inline-block;
}

#email {
    background-color: #FFAD62;
    color: #261D2D;
}

#instagram {
    background-color: #FEAFAF;
    color: #261D2D;
}

#spotify {
    background-color: #b6e28a;
    color: #261D2D;
}

a {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.hoverState {
    animation: myfirst 3s;
}

@keyframes myfirst
{
    3%    {
        color: #fafafa;
        text-decoration-color: #fafafa;
        background-color: #fafafa;
        }

    50%    {
            color: #fafafa;
            text-decoration-color: #fafafa;
            background-color: #fafafa;
            }

    100%    {
            color: #fafafa;
            text-decoration-color: #fafafa;
            background-color: #fafafa;
        }
}

#github {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
    margin-right: 10px;
    display:table;
    text-align: center;
}

#gitText {
    font-size: 30px;
    text-decoration: none;
    vertical-align: middle;
    display: table-cell;
}

.noUndies {
    text-decoration: none;
}


@media only screen and (max-width: 800px) {
    #bio {
        min-width: 100%;
    }
  }